---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}

<div class="research-grid">
  {% for post in site.research reversed %}
    <div class="research-card">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">
        <div class="research-card__image">
          {% if post.image %}
            <img src="{{ post.image | prepend: '/images/' | prepend: base_path }}" alt="{{ post.title }}">
          {% else %}
            <img src="{{ '/images/research/research-placeholder.svg' | prepend: base_path }}" alt="{{ post.title }}">
          {% endif %}
        </div>
        <h3 class="research-card__title">{{ post.title }}</h3>
      </a>
      {% if post.excerpt %}
        <p class="research-card__excerpt">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
